<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3c4c43ce7d2fb9579780d42f2793fd95 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3c4c43ce7d2fb9579780d42f2793fd95" ></div>
        
</body>
<script>    
    
            var map_3c4c43ce7d2fb9579780d42f2793fd95 = L.map(
                "map_3c4c43ce7d2fb9579780d42f2793fd95",
                {
                    center: [37.099931960000006, 127.34821139999998],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_039796b6eab87f8317c95bdee410bedd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            var marker_b438c65edb4faa4d853a5b6321bca78e = L.marker(
                [37.493922, 127.061026],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_b438c65edb4faa4d853a5b6321bca78e.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3c2a48e6d1998462cf790639995b5b46 = L.marker(
                [37.505675, 127.047883],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_3c2a48e6d1998462cf790639995b5b46.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a20ba278c7ea966689d4f950eecfe63e = L.marker(
                [37.471711, 127.89922],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_a20ba278c7ea966689d4f950eecfe63e.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_847d0fcd83edada0c7bfb3d6e3bf9286 = L.marker(
                [35.159774, 128.980455],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_847d0fcd83edada0c7bfb3d6e3bf9286.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_76a9448fd0c915a683d7dc70006ab6c4 = L.marker(
                [37.500249, 127.104071],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_76a9448fd0c915a683d7dc70006ab6c4.bindTooltip(
                `<div>
                     생활서비스
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_803ba09f29e4aa9f1ad7243f9b14d25f = L.marker(
                [37.515149, 127.10249],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_803ba09f29e4aa9f1ad7243f9b14d25f.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b9149658f070c29e1506b1f4d8394278 = L.marker(
                [37.549245, 127.088387],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_b9149658f070c29e1506b1f4d8394278.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d269ed7cdb1000915df5b84630652e60 = L.marker(
                [37.562013, 126.809957],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_d269ed7cdb1000915df5b84630652e60.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a124e26e81a2cec2f12b96557d343c4 = L.marker(
                [37.552153, 127.010861],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_5a124e26e81a2cec2f12b96557d343c4.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_381b6084a7e56fb4899276cb11f3ca5d = L.marker(
                [37.538927, 126.836078],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_381b6084a7e56fb4899276cb11f3ca5d.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fd84c3f160575add0f10bf4c0310e9c6 = L.marker(
                [37.492388, 127.014217],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_fd84c3f160575add0f10bf4c0310e9c6.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_71365a0281984cf0d6729f10c929dd8a = L.marker(
                [37.48039, 126.886859],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_71365a0281984cf0d6729f10c929dd8a.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5c8d986f8d039cfaef15763ff552a577 = L.marker(
                [37.588485, 127.031702],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_5c8d986f8d039cfaef15763ff552a577.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d5d410e782a7bf88fe6ab17c0aa41e2a = L.marker(
                [37.504067, 126.880898],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_d5d410e782a7bf88fe6ab17c0aa41e2a.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_702b3122ddbe77a8a660c56006fcc7bc = L.marker(
                [37.608392, 127.028726],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_702b3122ddbe77a8a660c56006fcc7bc.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_749bb19fd35d5a97306fbe73627c6595 = L.marker(
                [37.503693, 126.89771],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_749bb19fd35d5a97306fbe73627c6595.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7aa5e614ca971bbf62475b0af6f48b46 = L.marker(
                [37.579029, 126.910288],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_7aa5e614ca971bbf62475b0af6f48b46.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a4d1783f41ee149ce84842e4337e0567 = L.marker(
                [37.580073, 127.043189],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_a4d1783f41ee149ce84842e4337e0567.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0374bcede3c8e2f0f864219a8ac94197 = L.marker(
                [37.552103, 127.071184],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_0374bcede3c8e2f0f864219a8ac94197.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_05d985d3e9904d24537bc671bac8315e = L.marker(
                [37.545461, 127.076812],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_05d985d3e9904d24537bc671bac8315e.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5602d9c1a3d5268d5f65c4fe20ac3305 = L.marker(
                [37.580196, 127.045022],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_5602d9c1a3d5268d5f65c4fe20ac3305.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a482879bb678a3a0c209751ac7e6396 = L.marker(
                [37.562274, 126.982419],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_3a482879bb678a3a0c209751ac7e6396.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_361d92cbe1292a854cf1a19d17eea577 = L.marker(
                [37.535419, 126.840285],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_361d92cbe1292a854cf1a19d17eea577.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a58af09a42e2573d26a5aa1968971e6c = L.marker(
                [37.527477, 127.115873],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_a58af09a42e2573d26a5aa1968971e6c.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aea98091356c301c38163596ed09058c = L.marker(
                [37.526139, 126.88532],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_aea98091356c301c38163596ed09058c.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c6c57b1e0a854bbee9c95a20db319c34 = L.marker(
                [37.648247, 127.078464],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_c6c57b1e0a854bbee9c95a20db319c34.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6d8cb15c6177e8751276812a3bd79916 = L.marker(
                [37.512939, 127.0571],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_6d8cb15c6177e8751276812a3bd79916.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f21d16c3d81b3a2203499fa578fcdb81 = L.marker(
                [37.517574, 127.020945],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_f21d16c3d81b3a2203499fa578fcdb81.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9c2b339cacf6ebcd8aca6934677932db = L.marker(
                [35.202902, 129.068324],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_9c2b339cacf6ebcd8aca6934677932db.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a26a42b1e57e4523f8dc5c9077aff8e6 = L.marker(
                [35.144776, 129.059574],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_a26a42b1e57e4523f8dc5c9077aff8e6.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3884d353fd77c9cfdf17615a4c1def93 = L.marker(
                [37.499229, 126.927655],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_3884d353fd77c9cfdf17615a4c1def93.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5974972172a2f1537b75f4f9e4d9549d = L.marker(
                [35.150069, 127.034302],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_5974972172a2f1537b75f4f9e4d9549d.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2379a923eb06a24a9e80bac5e0325926 = L.marker(
                [35.141176, 129.10633],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_2379a923eb06a24a9e80bac5e0325926.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f395ee5a07b803a350d1977eca1a5b5 = L.marker(
                [37.479403, 126.980242],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_4f395ee5a07b803a350d1977eca1a5b5.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_daa55e2bf8ed1445feaa125da79aca5a = L.marker(
                [37.512569, 126.945099],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_daa55e2bf8ed1445feaa125da79aca5a.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5332d1108af3a5534bb6573c7f8c9d67 = L.marker(
                [35.123196, 129.034599],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_5332d1108af3a5534bb6573c7f8c9d67.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b0f3645c29d66f5c541d5bf3bc7f065 = L.marker(
                [37.546718, 127.054649],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_1b0f3645c29d66f5c541d5bf3bc7f065.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b51eff2c4ee13f56b21fcf0886e8d8c = L.marker(
                [37.553668, 127.019556],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_6b51eff2c4ee13f56b21fcf0886e8d8c.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_514916870eeffb5b1b11462ba9304adc = L.marker(
                [37.488742, 127.053198],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_514916870eeffb5b1b11462ba9304adc.bindTooltip(
                `<div>
                     의료
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8aca7343aaf95063a9ef14aa82e1159b = L.marker(
                [37.493653, 127.031005],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_8aca7343aaf95063a9ef14aa82e1159b.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_049057e8c845f62e232f9358765782e7 = L.marker(
                [37.498462, 127.05856],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_049057e8c845f62e232f9358765782e7.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d2daba0b2fb657de5c32cc77a0214b47 = L.marker(
                [37.556602, 127.078519],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_d2daba0b2fb657de5c32cc77a0214b47.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4bf40bffe4546abca090b4319a926436 = L.marker(
                [37.54418, 127.056141],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_4bf40bffe4546abca090b4319a926436.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a1e67c2dfab235efdf4693f5f8d60d90 = L.marker(
                [35.111532, 129.034605],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_a1e67c2dfab235efdf4693f5f8d60d90.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c153ce25bf5a0900c94ee136c41ef1d = L.marker(
                [37.508058, 126.888485],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_8c153ce25bf5a0900c94ee136c41ef1d.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aeb13f0a2e5cef0a82a1464b5d32205f = L.marker(
                [35.085777, 129.070117],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_aeb13f0a2e5cef0a82a1464b5d32205f.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f48d5cdbae0e9d1773c740b3ef4faf75 = L.marker(
                [37.546103, 127.057746],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_f48d5cdbae0e9d1773c740b3ef4faf75.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ced1ff5ebba98d3ce5c12e068d2ba41 = L.marker(
                [37.483899, 126.929288],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_3ced1ff5ebba98d3ce5c12e068d2ba41.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_559964fae2c9d2bff292ecdca6c2e1ce = L.marker(
                [37.489299, 127.054163],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_559964fae2c9d2bff292ecdca6c2e1ce.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5736b28920f1da3a1189e59480eecdf = L.marker(
                [35.143421, 129.060972],
                {}
            ).addTo(map_3c4c43ce7d2fb9579780d42f2793fd95);
        
    
            marker_a5736b28920f1da3a1189e59480eecdf.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
</script>